html, body {
    margin: 0;
    padding: 0;
    background-color: white;
    height: 100%;
}
.container {
    width: 60%;
    margin: auto;
    text-align: center;
    background-color: white;
    height: calc(100% - 120px);
    border: 1px solid #a9a9a9;
    box-shadow: 2px 3px 2px 2px rgb(177, 177, 177);
    padding-bottom: 100px;
}
.title {
    font-size: 4em;
    letter-spacing: -4px;
    color: maroon;
    margin: 20px;
}
.todo-input {
    width: 60%;
    font-size: 2em;
    padding: 10px;
}
.todo-input-edit {
    margin-left: 3px;
    width: 92%;
    font-size: 0.7em;
    padding: 10px;
}
.todo-task {
    width: 60%;
    text-align: left;
    margin: auto;
    font-size: 2em;
    background-color: white;
    border: 1px solid gray;
    padding: 10px;
    position: relative;
}
.todo-checkbox {
    margin-bottom: -20px;
}
.todo-cross {
    position: absolute;
    right: 10px;
    top: 20px;
    font-size: 20px;
    color: maroon;
    cursor: pointer;
}
.todo-task-done {
    color: gray;
    text-decoration: line-through;
}
.todo-tasks-status {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    background-color: white;
    border: 1px solid gray;
    padding: 10px;
    position: relative;
}
button {
    outline: none;
    border: 1px solid #bfbfbf;
    background: white;
    cursor: pointer;
}
.task-clear-btn {
}
button.active {
    background: #c7c7c7;
}
.tasks-status-btns {
    flex: 1;
}